<div class="container w-75">
  <h1 class="text-center">My bookings</h1>
  <div class="row">
 <% @bookings.each do |booking| %>
 <div class="col-sm-3 grey-bg p-5 rounded-4">
  <p><%= booking.listing.title %></p>
  <p><%= booking.start_date %></p>
  <p><%= booking.end_date %></p>
  <p>
  <% if booking.status == 'pending' %>
    <span class="badge text-bg-light"><%= booking.status %></span>
  <% elsif booking.status == 'active' %>
    <span class="badge text-bg-success"><%= booking.status %></span>
  <% elsif booking.status == 'cancelled' %>
    <span class="badge text-bg-danger"><%= booking.status %></span>
  <% else %>
    <span class="badge text-bg-secondary"><%= booking.status %></span>
  <% end %>
  </p>
    <% if booking.status == "past" %>
      <%= link_to "Post a review", new_listing_booking_review_path(booking.listing_id, booking) %>
    <% end %>
  <% end %>
  </div>
  </div>
  <div class="text-center">
  <%= link_to "Back", listings_path, class:"btn btn-outline-light" %>
  </div>
</div>