<h1>Bookings on my listings (HOST)</h1>
<div>
<!--   <% @listings.each do |listing| %>
  <%= listing.title %>
  <%= listing.description %>
    <% listing.bookings.each do |booking| %>
      <p>Reserved by : <%= booking.user.first_name %></p>
      <%= booking.start_date %>
      <%= booking.end_date %>
      status: <%= booking.status %>
      <% if booking.status == 'pending' %>
        <%= form_for booking, method: :patch do |f| %>
          <%= f.hidden_field :status, value: 'active' %>
          <%= f.submit 'Accept reservation' %>
        <% end %>
      <% elsif booking.status == 'active' %>
          <%= form_for booking, method: :patch do |f| %>
          <%= f.hidden_field :status, value: 'cancelled' %>
          <%= f.submit 'Cancel reservation' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
-->
<h2 id ="listings">My listings</h2>
<ul>
  <% @listings.each do |listing| %>
    <li><%=link_to listing.title, listing_path(listing) %></li>
    <li><%= listing.description %></li>
    <%= link_to 'Delete this listing', listing_path(listing), data: { turbo_method: :delete, turbo_confirm: 'Sure ?' } %>
    <%= link_to 'Update listing', edit_listing_path(listing) %>
  <% end %>
</ul>
<h2 id ="bookings">My Bookings</h2>
  <% @bookings.each do |booking| %>
    <p>Reserved by : <%= booking.user.first_name %></p>
    <%= booking.start_date %>
    <%= booking.end_date %>
    status: <%= booking.status %>
    <% if booking.status == 'pending' %>
      <%= form_for booking, method: :patch do |f| %>
        <%= f.hidden_field :status, value: 'active' %>
        <%= f.submit 'Accept reservation' %>
      <% end %>
    <% elsif booking.status == 'active' %>
      <%= form_for booking, method: :patch do |f| %>
        <%= f.hidden_field :status, value: 'cancelled' %>
        <%= f.submit 'Cancel reservation' %>
      <% end %>
    <% end %>
  <% end %>
<%= link_to "Back", listings_path %>
