<div class="container mb-5">
  <h1 class="text-center mb-4">My bookings</h1>
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-sm-6">
      <div class="card px-4 py-4 grey-bg mb-3 rounded-4">
        <%= cl_image_tag booking.listing.photos.first.key, class: "rounded-4 mb-4" %>
        <h5><strong><%= booking.listing.title %></strong></h5>
        <hr>
        <p><strong>Start Date</strong> - <%= booking.start_date.strftime("%A, %B %d %Y") %></p>
        <p><strong>End Date</strong> - <%= booking.end_date.strftime("%A, %B %d %Y") %></p>

        <p class="mb-5"><strong>Status - </strong>
          <% if booking.status == 'pending' %>
            <span class="badge text-bg-light"><%= booking.status %></span>
          <% elsif booking.status == 'active' %>
            <span class="badge text-bg-success"><%= booking.status %></span>
          <% elsif booking.status == 'cancelled' %>
            <span class="badge text-bg-danger text-white"><%= booking.status %></span>
          <% else %>
            <span class="badge text-bg-secondary"><%= booking.status %></span>
          <% end %>
        </p>        
          <% if booking.status == 'active' || booking.status == 'pending' %>
            <div class="text-center">
              <%= simple_form_for booking, method: :patch do |f| %>
                <%= f.hidden_field :status, value: 'cancelled' %>
                <%= f.submit 'Cancel reservation', class: "btn btn-danger text-light" %>
              <% end %>
            </div>
          <% end %>
          <% if booking.status == "past" && current_user.reviews.where(booking_id: booking).blank? %>
            <p class="text-center">
              <a class="btn btn-light" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Write a Review
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div>
                <%= render 'reviews/form', listing: Listing.find(booking.listing_id), booking: booking %>
              </div>
            </div>
          <% elsif booking.status == "past" && !current_user.reviews.where(booking_id: booking).blank?  %>
            <p class="text-center"><strong>Thank you for your review 👻 ! <strong></p>
          <% end %>
          <% if booking.status == "cancelled" %>
            <div class="text-center">
              <%= link_to "Book another flat", listings_path, class: "btn btn-green" %>
            </div>
          <% end %>

      </div>
    </div>
    <% end %>
    <div class="text-center my-4">
    <%= link_to "Back", listings_path, class:"btn btn-outline-light" %>
    </div>
  </div>
</div>
