<h1>My bookings</h1>

<ul><% @bookings.each do |booking| %>
<li><%= booking.listing.title %></li>
<li><%= booking.start_date %></li>
<li><%= booking.end_date %></li>
<li><%= booking.status %></li>
<li><%= booking.reviews.count %></li>
<%= link_to "Post a review", new_listing_booking_review_path(booking.listing_id, booking) %>
<% end %>
</ul>

<%= link_to "Back", listings_path %>
